<!DOCTYPE HTML>
<html>

<% include partials/index_Header.ejs %>

<body>
<div class="container">
    <div class="row" data-gutter="60">
        <h3><a href="/">Home</a></h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3><span class="label label-danger">Phương thức vận chuyển</span></h3>
        </div>
        <div class="col-md-8">
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="0" value="ghtk"> Giao hàng tiết kiệm
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="1" value="bd"> Bưu điện (VN POST)
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="2" value="vtp"> Viettel POST
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen"  id="3" value="ghn"> Giao Hàng Nhanh
            </label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <h3><span class="label label-danger">Phương thức thanh toán</span></h3>
        </div>
        <div class="col-md-8">
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="0" value="tm">Tiền mặt
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="1" value="COD">COD(Giao hàng thu tiền)
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="2" value="ck">Chuyển khoản
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen"  id="3" value="ttd">Thẻ tín dụng
            </label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <h3><span class="label label-danger">Đơn hàng sẽ được miễn phí vận chuyển khi giá sau khuyến mãi lớn hơn:</span></h3>
        </div>
        <div class="col-md-3">
            <input class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <h3><span class="label label-danger">Dưới số này đơn hàng có phí dịch vụ vận chuyển mặc định là:</span></h3>
        </div>
        <div class="col-md-3">
            <input class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-danger" id='InsertBtn' onclick="insert()">Add Category</button>
    </div>

    <br/>


    <div class="row" id='rowInsert' style="display: none">
        <div class="row">
            <h4 class="col-md-4">

                Thư mục </h4>

            <h4 class="col-md-4">

                Nhóm Sản Phẩm </h4>

            <h4 class="col-md-4">

                Avarta </h4>
        </div>

        <div class="row">
            <form action='/PetMart/add-category' class="fileupload" method='POST' enctype="multipart/form-data">
                <div class="col-md-4">
                    <select class="form-control" name="newFolder">
                        <% for(i = 0 ; i < tree.length ; i++) { %>
                        <option value="<%= tree[i].folder_id %>"><%= tree[i].folder_name %></option>
                        <% } %>

                    </select></div>
                <div class="col-md-4"><input class="form-control" name="newCat" value=""></div>


                <div class="col-md-4">
                    <input type="file" class="form-control" name="upfile" value="">
                </div>
                </br>
                <button class="btn btn-danger" id='Ok' style="display: none" type='submit'>Ok</button>
            </form>
        </div>


    </div>

    <div class="row">

        <div class="row">
            <div class="col-md-4">
                <h4>Thư Mục</h4>
            </div>
            <div class="col-md-4">
                <h4>Nhóm Sản Phẩm</h4>
            </div>


        </div>
        <% for(i = 0;i < result.length;i++){ %>

        <div class="row">
            <div class="col-md-4">
                <input class="form-control" id='folder<%= result.folder_id %>'
                       value='<%= result[i].folder_name %>'></input>
            </div>
            <div class="col-md-4">
                <input class="form-control" id='cat<%= result.cat_id %>'
                       value='<%= result[i].cat_name %>'></input>
            </div>
            <div class="col-md-1">
                <button class="form-control">OK</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success form-control"
                   href="/maintenance-prd?catflt=<%= result[i].cat_name %>&catId=<%= result[i].cat_id %>">Products</a>
            </div>
        </div>

        <% } %>

    </div>
    <div class="gap"></div>
</div>


<script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="assets/js/animated-headline.js"></script>
<script type="text/javascript" src="assets/js/menu.js"></script>
<script type="text/javascript" src="assets/js/modernizr.js"></script>
<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="assets/js/init.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.js"></script>
<script type="text/javascript" src="assets/js/numscroller.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script>

    $("form").submit(function (evt) {
        evt.preventDefault();
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: './PetMart/add-category',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                $.ajax({
                    type: "POST",
                    url: "./PetMart/remove",
                    data: "path=" + response.path + "&name=" + response.name,
                    success: function (msg) {
                        //alert(msg);
                        data = msg;

                        location.reload();

                    }
                });
            }
        });
        return false;
    });

    function insert() {

        document.getElementById('rowInsert').style.display = 'block';
        document.getElementById('InsertBtn').style.display = 'none';
        document.getElementById('Ok').style.display = 'block';
    }

    function OK() {
        /*var allElements = document.getElementsByTagName("input");
        var cats = new Array();
        var images = new Array();
        var folders = new Array();
        for (var i = 0; i < allElements.length; i++) {
            if (allElements[i].id == 'newCat') {
                cats.push(allElements[i].value);
            }
            if (allElements[i].id == 'newImg') {
                images.push(allElements[i].value);
            }
        }
        var allElements = document.getElementsByTagName("select");
        for (var i = 0; i < allElements.length; i++) {
            if (allElements[i].id == 'newFolder') {
                folders.push(allElements[i].value);
                break;
            }
        }
        $.ajax({
            type: "POST",
            url: "./PetMart/add-category",
            data: "mode=update&description=" + cats + "&image=" + images + "&folder=" + folders,
            success: function (msg) {
                //alert(msg);
                data = msg;

                location.reload();

            }
        });*/


    }


</script>
</div>
</body>

<% include partials/index_Footer.ejs %>
</html>


