<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<!-- PORTFOLIO -->

<div class="portfolio">
    <div class="container-fluid">
        <div class="container">
            <!-- all works -->
            <div class="row">
                <div class="row portfolio_container">

                    <% for(var j = 0 ; j < result.length ; j++){ %>

                    <div class="col-md-3 folder<%= result[j].folder_id %>">
                        <a href="/maintenance-prd?catflt=<%= result[j].cat_name %>&catId=<%= result[j].cat_id %>"
                           class="portfolio_item work-grid">
                            <img src="assets/img/<%= result[j].image %>" alt="image">
                            <div class="portfolio_item_hover">
                                <div class="item_info">
                                    <span><%= result[j].cat_name %></span>
                                    <em>photography</em>
                                </div>
                            </div>
                        </a>
                    </div>

                    <% } %>


                    <!-- end single work -->
                    <% if(type == 1){ %>
                    <!-- Admin -->
                    <div class="col-md-3 admin">
                        <a href="maintenance" class="portfolio_item work-grid">
                            <img src="assets/img/accounts.jpg" alt="image">
                            <div class="portfolio_item_hover">
                                <div class="item_info">
                                    <span>Tài Khoản</span>
                                    <em>photography</em>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 admin">
                        <a href="show-payment" class="portfolio_item work-grid">
                            <img src="assets/img/payment.jpg" alt="image">
                            <div class="portfolio_item_hover">
                                <div class="item_info">
                                    <span>Đơn Hàng</span>
                                    <em>photography</em>
                                </div>
                            </div>
                        </a>


                    </div>
                    <div class="col-md-3 admin">
                        <a href="/maintenance-cat" class="portfolio_item work-grid">
                            <img src="assets/img/AddIcon-2 (2).jpg" alt="image">
                            <div class="portfolio_item_hover">
                                <div class="item_info">
                                    <span>Thư Mục</span>
                                    <em>photography</em>
                                </div>
                            </div>
                        </a>


                    </div>
                    <% } %>

                </div>
                <!-- end row -->
            </div>
            <!-- all works end -->
            <!-- Modal -->
        </div>
    </div>
    <!-- end container -->

</div>
<!-- portfolio -->

<!-- SCRIPTS -->
<script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="assets/js/animated-headline.js"></script>
<script type="text/javascript" src="assets/js/menu.js"></script>
<script type="text/javascript" src="assets/js/modernizr.js"></script>
<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="assets/js/init.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.js"></script>
<script type="text/javascript" src="assets/js/numscroller.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script>

</script>
<script type="text/javascript">
    $(window).load(function () {
        new WOW().init();

        // initialise flexslider
        $('.flexslider').flexslider({
            animation: "fade",
            directionNav: true,
            controlNav: false,
            keyboardNav: true,
            slideToStart: 0,
            animationLoop: true,
            pauseOnHover: false,
            slideshowSpeed: 4000,
        });

        smoothScroll.init();

        // initialize isotope
        var $container = $('.portfolio_container');
        $container.isotope({
            filter: '*',
        });

        $('.portfolio_filter a').click(function () {
            $('.portfolio_filter .active').removeClass('active');
            $(this).addClass('active');

            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 500,
                    animationEngine: "jquery"
                }
            });
            return false;
        });
    });
</script>
</body>
<script src="js/bootstrap.js"></script>
<script src="js/slimmenu.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-timepicker.js"></script>
<script src="js/nicescroll.js"></script>
<script src="js/dropit.js"></script>
<script src="js/ionrangeslider.js"></script>
<script src="js/icheck.js"></script>
<script src="js/fotorama.js"></script>
<script src="js/typeahead.js"></script>
<script src="js/card-payment.js"></script>
<script src="js/magnific.js"></script>
<script src="js/owl-carousel.js"></script>
<script src="js/fitvids.js"></script>
<script src="js/tweet.js"></script>
<script src="js/countdown.js"></script>
<script src="js/gridrotator.js"></script>
<script src="js/custom.js"></script>
<% include partials/index_Footer.ejs %>
</html>