<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<!-- PORTFOLIO -->

<div class="portfolio">
        <!-- /.container-fluid -->
<!--     <div class="container-fluid" style="background-color: #1C1C1C;">
        <div id="menu">
                <ul>
                    <li> <a href="" data-filter=".folder1" style="color: #FFFFFF; border: 2px solid #FFFFFF"><h3>HOME</h3></a></li>
                    <li> <a href="" data-filter=".folder2" ><h3>TUỔI VÀ MỆNH</h3></a></li>
                    <li> <a href="" data-filter=".folder3" ><h3>PHONG THỦY</h3></a></li>
                    <li> <a href="" data-filter=".folder4" ><h3>ĐỜI SỐNG</h3></a></li>
                    <li> <a href="" data-filter=".folder5" ><h3>DỊCH VỤ</h3></a></li>
                </ul>
                <% if(type == 1){ %>
                <ul>
                    <li><a href="" data-filter=".admin"><h3>ADMINISTRATOR</h3></a></li>
                </ul>
                <%}%>
        </div>
    </div> -->
    <div class="container-fluid" style="width: 80%;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://www.facebook.com/"><img class="center-block" src="img/backgrounds/2.jpg" alt="..."></a>
                    
                </div>
                <div class="item">
                    <a href="#">
                    <img class="center-block" src="img/backgrounds/3.jpg" alt="...">        
                    </a>  
                </div>
                <div class="item">
                    <a href="#">
                    <img class="center-block" src="img/backgrounds/4.jpg" alt="...">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>  
        </div> 
    </div>
    <div class="container-fluid">

        <div class="container">
            <!-- all works -->
             <div class="row">
                <div class="row">

                    <% for(var j = 0 ; j < result.length ; j++){ %>

                    <div class="col-xs-6 col-md-4 folder<%= result[j].folder_ids %> ">
                            <div class="product">
                            <div class="" style="">
                                <img src="assets/img/<%= result[j].image %>" class="img-responsive" alt="Responsive image" style="padding: 10px;">
                                <h2 class="center-block" style="width: 65%; text-align: center;"><%= result[j].cat_names %></h2>
                                <a href="/maintenance-prd?catflt=<%= result[j].cat_names %>&catId=<%= result[j].cat_ids %>" class="portfolio_item work-grid"style="width: 90%; color: #B28D34;font-weight: bold; margin-bottom: 10px;overflow: hidden; margin-top: 20px;">
                                    <button type="button" class="btn btn-default center-block">
                                             Xem Thêm                                       
                                    </button>
                                </a>
                            </div>
                            </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- all works end -->
            <!-- Modal -->
            <br>
            <% if(type == 1){ %>
                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <img class="img-responsive thumbnail center-block" src="assets/img/accounts.jpg" style="max-width: 100px">
                            <a href="maintenance" class="portfolio_item work-grid">
                                <button class="btn btn-info center-block">                                
                                        Tài khoản                                
                                </button>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img class="img-responsive thumbnail center-block" src="assets/img/payment.jpg" style="max-width: 100px">
                            <a href="show-payment" class="portfolio_item work-grid">
                                <button class="btn btn-info center-block">                                
                                        Đơn Hàng
                                </button>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <img class="img-responsive thumbnail center-block" src="assets/img/accounts.jpg" style="max-width: 100px">
                            <a href="/maintenance-cat" class="portfolio_item work-grid">
                                <button class="btn btn-info center-block">                                
                                    Thư Mục                                
                                </button>
                            </a>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
    <!-- end container -->

</div>
<!-- portfolio -->

<!-- SCRIPTS -->
<script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="assets/js/animated-headline.js"></script>
<script type="text/javascript" src="assets/js/menu.js"></script>
<script type="text/javascript" src="assets/js/modernizr.js"></script>
<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="assets/js/init.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.js"></script>
<script type="text/javascript" src="assets/js/numscroller.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script>

</script>
<script type="text/javascript">
    $(window).load(function () {
        new WOW().init();

        // initialise flexslider
        $('.flexslider').flexslider({
            animation: "fade",
            directionNav: true,
            controlNav: false,
            keyboardNav: true,
            slideToStart: 0,
            animationLoop: true,
            pauseOnHover: false,
            slideshowSpeed: 4000,
        });

        smoothScroll.init();

        // initialize isotope
        var $container = $('.portfolio_container');
        $container.isotope({
            filter: '*',
        });

        $('.portfolio_filter a').click(function () {
            $('.portfolio_filter .active').removeClass('active');
            $(this).addClass('active');

            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 500,
                    animationEngine: "jquery"
                }
            });
            return false;
        });
    });
</script>
</body>
<% include partials/index_Footer.ejs %>
</html>