<!DOCTYPE html>
<html lang="en">
<% include /partials/index_Header.ejs %>
<body>
<div class="container body-content">
    <div class="row ">
        <ol class="breadcrumb">
            <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a
                    href="/maintenance-prd/<%= result[0].catflt.replace(/ /g,'-')%>"> <%= result[0].catflt %></a> / <a href="#">Tạo
                Sản Phẩm</a>
        </ol>

    </div>
    <div class="row product-info">
        <div class="col-md-4">
            <img class="img-responsive thumbnail" src="/assets/img/<%=image[0].url.split(";")[0]%>" alt="">
        </div>
        <div class="col-md-8">
            <div class="ditem">
                <div class="row">
                    <h2><%=result[0].name%></h2>
                </div>

                <div class="row">
                <table class="row table table-condensed">
                    <tbody>
                <tr>
                    <td class="text-right"><h4 style="text-align: center;">Size</h4></td>
                    <td class="text-right"><h4 style="text-align: center;">Giá sản phẩm</h4></td>
                    <td class="text-right"><h4 style="text-align: center;">Mã Sản Phẩm</h4></td>
                    <td class="text-right"><h4 style="text-align: center;">Số Lượng</h4></td>
                    <td class="text-right"><h4 style="text-align: center;"></h4></td>
                </tr>

                        <% for(i = 0;i < result.length;i++){ %>
                        <tr>
                            <td class="text-right">
                                <input id = 'size_id'class="booking-item-title size_id center-block" style="text-align: center;border: none; background-color: transparent" disabled value="<%= result[i].size %>"></input>
                            </td>
                            <td class="text-center">
                            <% if(result[i].disct_price == null){ %>
                            <label class="center-block" style=" text-align: center"><font
                                        color="black"><%= result[i].price %></font></label>
                            <% } else { %>
                            <label class="center-block" style=" text-align: center"><font
                                        color="red"><%= result[i].disct_price%></font></label>
                            <% } %>
                            </td>

                            <td class="text-right">
                                <input  class="booking-item-title center-block" style="text-align: center;border: none; background-color: transparent" disabled value="<%= result[i].code %>">

                            </td>
                            <td class="text-right">
                                <input id ='quantity'class="form-control booking-item-title quantity center-block" value="0" type="number" min="1" max=""  step="1" autocomplete="off" style="width: 50%;">

                            </td>
                            <td class="text-right" style="position: relative;">
                                <a href="#" style="text-align: center;" onclick="AddCart(<%=i%>)">
                                    <span class="glyphicon glyphicon-shopping-cart center-height"></span>
                                </a>
                            </td>
                        </tr>
                        <% } %>



                    </tbody>
                </table>
                </div>
                <br>
                <div class="row">
                    <div class = "col-md-3">
                        <button class="form-control" onclick="AddCart()">Add To Cart</button>
                    </div>

                </div>
                <br>
                <div class="row">
                    <% for(j = 0;j < image[0].url.split(";").length;j++){ %>
                    <div class="col-md-3">

                            <img class="img-responsive thumbnail" src="/assets/img/<%=image[0].url.split(";")[j]%>" alt="image">

                    </div>
                    <% } %>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <br>
        <div class="col-xs-12">
            <p id = 'descriptionArea' name = 'descriptionArea' >
            </p>
        </div>
    </div>

</div>
</body>
<% include /partials/index_Footer.ejs %>

<script>
    var  element = '<%=description%>';
    var str  = element.replace(/&#39;/g, "\"").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g,"\"");

    document.getElementById('descriptionArea').innerHTML = str;


</script>
<script>

    function AddCart(idx){
        var formdata1 = new FormData();
        var sizes = new Array();
        var quantities = new Array();
       var input = document.getElementsByClassName('booking-item-title size_id');
        <%for (var i = 0; i < result.length; i++) {%>
            sizes.push(<%=result[i].product_id%>);
        <%}%>
        input = document.getElementsByClassName('form-control booking-item-title quantity center-block');
        for (var i = 0; i < input.length; i++) {
            quantities.push(input[i].value);
        }
        formdata1.append('size_id',sizes);
        formdata1.append('quantity',quantities);
                $.ajax({
                    url: "/PetMart/add-to-cart",
                    type: 'POST',
                    dataType : 'JSON',
                    data: JSON.stringify({size_id:sizes,quantity:quantities}),
                    async: false,
                    cache: false,
                    contentType: 'application/json; charset=UTF-8',
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        alert('success');
                       input = document.getElementsByClassName('form-control booking-item-title quantity');
                        for (var i = 0; i < input.length; i++) {
                            input[i].value='0'
                        }
                    }
                });

    }
</script>

</html>