<!DOCTYPE HTML>
<html>
<% include partials/index_Header.ejs %>
<body>
<div class="global-wrap">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a href="/maintenance">Account Maintenance</a> / <a href="/#">Sign Up</a>
            </ol>
            <%if (data.status == 'success'){%>
            <div class="alert alert-success">
                <strong>Success!</strong>
            </div>
            <%}%>
        </div>

        <form action = '/maintenance-prd' method = 'get'>
            <h2>Filtered By </h2>
            <div class="booking-item-dates-change mb30">
                <div class="container row">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group-icon-left">
                                <label>Category : </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-icon-left">
                                <label>Product : </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group-icon-left">
                                <input class="typeahead-cat form-control" name = 'catflt' id = 'catflt' value=""  type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-icon-left">
                                <input class="typeahead-prd form-control" name = 'prdflt' id = 'prdflt' value=""  type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Tìm</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    <a class="btn btn-primary" href = '/create-prd?cat=<%=cat%>&catId=<%=catId%>'>Add Product</a>
                    </div>
                </div>
            </div>
            <br/>
        </form>

        <div class="container-fluid row">
            <div class="col-md-2">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li><a href="/">Account</a>
                            <ul>
                                <li><a href="register">Create</a>
                                </li>
                                <li><a href="maintenance">Maintenance</a>
                                </li>

                            </ul>
                        </li>
                     </ul>
               </div>    
            </div>
            <div class="col-md-2">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li><a href="/maintenance-cat">Category</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li><a href="/">Product</a>
                        <ul>
                            <li><a href="create-prd">Create</a>
                            </li>
                            <li><a href="maintenance-prd">Maintenance</a>
                            </li>

                        </ul>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
        
        <br/>
        <div class="row">
                    </br>
                    <div class="row center-block">
                        <div class="col-md-2"><h4 style="text-align: center;">Category</h4></div>
                        <div class="col-md-2"><h4 style="text-align: center;">Tên Sản Phẩm</h4></div>
                        <div class="col-md-2"><h4 style="text-align: center;">Kích thước</h4></div>
                        <div class="col-md-2"><h4 style="text-align: center;">Giá</h4></div>
                        <div class="col-md-2"><h4 style="text-align: center;">Giảm giá</h4></div>
                    </div>
                    <% for(i = 0;i < result.length;i++){ %>


                    <li>
                        <a class="booking-item" href="/product-detail?id=<%= result[i].product_id%>">
                            <div class="row">

                                <div class="row">
                                    <div class="col-md-3">
                                        <h5 class="booking-item-title"><%= result[i].cat_name %></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="booking-item-description">
                                            <%=result[i].name%>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="booking-item-description">
                                            <%for (j = 0 ; j < result[i].sizes.split(',').length ; j++){%>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p class="booking-item-description"> <%= result[i].sizes.split(',')[j]%></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="booking-item-description">
                                                        <%= result[i].prices.split(',')[j]%>
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="booking-item-description">
                                                        <%= result[i].disct_prices.split(',')[j] %>
                                                    </p>
                                                </div>
                                            </div>

                                        <%}%>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <% } %>
        </div>
        <div class="gap"></div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>
    <script>
        if('<%=cat%>'!='undefined'){
            document.getElementById('catflt').value = '<%=cat%>';
        }
    </script>
</div>
</body>
<% include partials/index_Footer.ejs %>
</html>


