<!DOCTYPE html>
<html lang="en">
<% include /partials/index_Header.ejs %>
<body>
<div class="container body-content">
    <div class="row ">
        <ol class="breadcrumb">
            <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a
                    href="/maintenance-prd/<%= result[0].catflt.replace(/ /g,'-')%>"> <%= result[0].catflt %></a> / <a href="#">Tạo
                Sản Phẩm</a>
        </ol>

    </div>
    <div class="row product-info thumbnail">
        <div class="col-md-4 col-md-offset-1">
            <div class="row">
                    <div class="col-md-2" style="position: absolute; background-color: #cf69f9;">
                        <h4 style="color: white;">MỚI</h4>
                    </div>
                    <div class="col-md-4 col-md-offset-2" style="position: absolute; background-color: #69d9f9;">
                        <h4 style="color: white;">FREESHIP</h4>
                    </div>
                    <% for(j = 0;j < image[0].url.split(";").length;j++){ %>
                    <div class="Slide-product fade">
                        <img onclick="zoomImg()"  class="list-image img-responsive" src="/assets/img/<%=image[0].url.split(";")[j]%>" alt="">
                    </div>
                    <% } %>
                    <div style="position: relative;">
                        <% for(j = 0;j < image[0].url.split(";").length;j++){ %>                    
                        <div class="" style="float: left; width: 25%;">
                            <img  onclick="currentSlide(<%=j+1%>)" class="img-responsive cursor item-product-detail" src="/assets/img/<%=image[0].url.split(";")[j]%>" alt="image">
                        </div>
                        <% } %>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                    </div>
                    <% } %>
            </div>
            <div id="myModal" class="modal">
                <span id="closeImg" class="close">&times;</span>
                <img class="modal-content" id="img01">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                    <div class="col-md-6">
                        <h2 style="margin: 5px;"><b><%=result[0].name%></b></h2>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <h3 style="margin: 10px;">Mã SP: <a href="#" style="color: red;"><%= result[0].code %></a></h3>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-10">            
                        <h4 style="color: #2b70fc;">Hợp với mệnh: <a href="#" style="color: black;"><%=result[0].menh.substring(0,result[0].menh.length-1).replace(/;/g,',')%></a></h4>
                        <h4 style="color: #2b70fc;">Hợp với tuổi: <a href="#" style="color: black;"><%=result[0].tuoi.substring(0,result[0].tuoi.length-1).replace(/;/g,',')%></a></h4>
                        <h4 style="color: #2b70fc;">Hợp với màu: <a href="#" style="color: black;"><%=result[0].mau.substring(0,result[0].mau.length-1).replace(/;/g,',')%></a></h4>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div style="position: relative;">
                            <select class="form-control" id="idselect" onchange="optionSelected()">
                                <% for(i = 0;i < result.length;i++){ %>
                                <option onclick="optionSelected(<%=result[i].product_id%>)" class="dropdown-content1" value="<%=result[i].product_id%>"><%=result[i].size%></option>
                                <% } %>
                            </select>
                        </div>                   
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 style="color: red; font-weight: bold;" id ="dictprice">210.000 <a href="" style="font-weight: normal; color: #6b6b6c;">VNĐ</a></h2>
                    <h3 style="color:  #6b6b6c;" id="price">Giá cũ là <a href="" style="text-decoration: line-through; color: #6b6b6c;">350.000</a></h3>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h4>Số lượng: </h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="minus">-</button>
                                </span>
                                <input class="form-control" id="quantity" style="font-weight: bold; font-size: 200%; text-align: center;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="plus">+</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4 style="color: #6b6b6c; font-style: italic;">Thành tiền: <a href="" style="color: red; font-style: italic" id = "thanhtien">0</a> vnđ</h4>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <button class="button-image"><img src="/img/muangay.svg" class="img-responsive" onclick=""></button>                   
                </div>
                <div class="col-md-4 ">
                    <button class="button-image"><img src="/img/themvaogio.svg" class="img-responsive" onclick="AddCart()"></button>                
                </div>
            </div>
            <div class="row" style="position: relative;">
                <div class="col-md-8" >
                    <div style="background-color: #f3e6e6; min-height: 100px;">Thông tin thêm nếu có nền không có màu.</div>                    
                </div>
                <div class="col-md-4">
                    <a href="/maintenance-prd/<%= result[0].catflt.replace(/ /g,'-')%>" class="button-image" style="position: absolute; right: 0px; top: 30px;">
                        <img src="/img/xemthem.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <br>
        <div class="col-xs-12">
            <p id = 'descriptionArea' name = 'descriptionArea' >
            </p>
        </div>
    </div>
</div>
</body>
<% include /partials/index_Footer.ejs %>

<script>
    var  element = '<%=description%>';
    var str  = element.replace(/&#39;/g, "\"").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g,"\"");

    document.getElementById('descriptionArea').innerHTML = str;


</script>
<script>

    function AddCart(idx){
        var formdata1 = new FormData();
        var sizes = new Array();
        var quantities = new Array();
       var input = document.getElementsByClassName('booking-item-title size_id');
        sizes.push(document.getElementById('idselect').value);
        quantities.push(parseInt($("#quantity").val()));
        formdata1.append('size_id',sizes);
        formdata1.append('quantity',quantities);
                $.ajax({
                    url: "/PetMart/add-to-cart",
                    type: 'POST',
                    dataType : 'JSON',
                    data: JSON.stringify({size_id:sizes,quantity:quantities}),
                    async: false,
                    cache: false,
                    contentType: 'application/json; charset=UTF-8',
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        alert('success');
                        $("#quantity").val('1');
                        ThanhTien();
                    }
                });
    }
</script>

<!-- image slide -->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("Slide-product");
        var dots = document.getElementsByClassName("item-product-detail");
        var captionText = document.getElementById("caption");
        var listImg = document.getElementsByClassName("list-image");

        if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
                listImg[i].id = "";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            listImg[slideIndex-1].id = "myImg";
            dots[slideIndex-1].className += " active";
    }
    function zoomImg(){    
        var modal = document.getElementById("myModal");
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        /*$(".list-image")*/
        $(".Slide-product").on('click', function (){
            modal.style.display = "block";
            modalImg.src = img.src; 
        });
        var span = document.getElementById("closeImg");
        span.onclick = function() { 
            modal.style.display = "none";
        }
}
</script>
<!-- quantity -->
<script type="text/javascript">

        <%if(result[0].disct_price == null || result[0].disct_price == 0){%>
        $("#dictprice").html('<%=result[0].price%> <a href="" style="font-weight: normal; color: #6b6b6c;">VNĐ</a>');
        $("#price").html('');
        <%} else {%>
        $("#dictprice").html('<%=result[0].disct_price%> <a href="" style="font-weight: normal; color: #6b6b6c;">VNĐ</a>');
        $("#price").html('Giá cũ là <a href="" style="text-decoration: line-through; color: #6b6b6c;"><%=result[0].price%></a>');
        <%}%>


    function optionSelected(){
        var n = document.getElementById('idselect').value;
        <% for(i = 0;i < result.length;i++){ %>
        if('<%=result[i].product_id%>' == (''+n)){
            <%if(result[0].disct_price == null || result[0].disct_price == 0){%>
            $("#dictprice").html('<%=result[i].price%> <a href="" style="font-weight: normal; color: #6b6b6c;">VNĐ</a>');
            $("#price").html('');
            ThanhTien();
            <%} else {%>
            $("#dictprice").html('<%=result[i].disct_price%> <a href="" style="font-weight: normal; color: #6b6b6c;">VNĐ</a>');
            $("#price").html('Giá cũ là <a href="" style="text-decoration: line-through; color: #6b6b6c;"><%=result[i].price%></a>');
            ThanhTien();
            <%}%>
        }
        <% } %>

    }
    $(document).ready(function(){
        $("#plus").click(function(){
            var value = $("#quantity").val();
            value = Number(value) + 1;
            document.getElementById('quantity') .value = value;
           /* $("#quantity").val(value);*/
            ThanhTien();
        });
        $("#minus").click(function(){
            var value = $("#quantity").val() - 1;
            if (value>=0){
                document.getElementById('quantity') .value = value;
               /* $("#quantity").val(value);*/
                ThanhTien();
            }
        });


    });

        function ThanhTien(){
            var n = document.getElementById('idselect').value;
            <% for(i = 0;i < result.length;i++){ %>
            if('<%=result[i].product_id%>' == (''+n)){
                <%if(result[0].disct_price == null || result[0].disct_price == 0){%>
                var total = $("#quantity").val() * parseInt('<%=result[i].price%>');
                $("#thanhtien").html(total);

                <%} else {%>
                var total = $("#quantity").val() * parseInt('<%=result[i].disct_price%>');
                $("#thanhtien").html(total);
                <%}%>
            }
            <% } %>
        }
</script>
<!-- Menu size -->
<script>
    function displaySize() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>

</html>